<pre class="text-danger"> All fields are mandatory</pre>
<form [formGroup]="schemeForm" (ngSubmit)="onSchemeFormSubmit()">
  <div class="form-group" *ngIf="clientsArr">
    <label>Enter Client Name</label>
    <input type="text" class="form-control" [formControlName]="'clientName'" />
    <ng-container *ngIf="schemeForm.get('clientName').value">
      <ul>
        <li *ngFor="let cd of fileredClientsArr" (click)="onSelectClient(cd)">
          {{ cd["name"] }}
        </li>
      </ul>
    </ng-container>
  </div>
  <div class="form-group">
    <label>Enter ID</label>
    <input
      type="number"
      class="form-control disabled"
      [formControlName]="'id'"
    />
  </div>
  <div class="form-group">
    <label>Enter Folio Number</label>
    <input
      type="number"
      class="form-control"
      [formControlName]="'folioNumber'"
    />
  </div>
  <div class="form-group">
    <label>Select Collection</label>
    <select class="form-control" [formControlName]="'collection'">
      <option class="form-control" [ngValue]="null" disabled>Select</option>
      <option
        class="form-control"
        *ngFor="let cName of collectionArr"
        [ngValue]="cName"
        >{{ cName }}</option
      >
    </select>
  </div>
  <div class="form-group">
    <label>Enter Fund Family</label>
    <input type="text" class="form-control" [formControlName]="'mFundFamily'" />
    <ng-container *ngIf="schemeForm.get('mFundFamily').value">
      <ul>
        <ng-container *ngFor="let item of filteredMFFamily">
          <li (click)="selectedMF(item)">{{ item }}</li>
        </ng-container>
      </ul>
    </ng-container>
  </div>
  <div class="form-group" *ngIf="selectedFundFamily">
    <label>Enter Scheme</label>
    <input type="text" class="form-control" [formControlName]="'schemeName'" />
    <ng-container *ngIf="schemeForm.get('schemeName').value">
      <ul>
        <ng-container *ngFor="let item of filteredFunds">
          <li (click)="selectedSchmeName(item)">{{ item }}</li>
        </ng-container>
      </ul>
    </ng-container>
  </div>

  <div class="form-group" *ngIf="schemeForm.get('schemeName').value">
    <label>Scheme Code</label>
    <input
      type="number"
      class="form-control disabled"
      [formControlName]="'schemeCode'"
    />
  </div>

  <div class="form-group">
    <label>Select Start Date</label>
    <div class="input-group">
      <input
        class="form-control form-control-sm text-primary"
        ngbDatepicker
        #d1="ngbDatepicker"
        [formControlName]="'startDate'"
      />
      <div class="input-group-append">
        <i
          class="fa fa-calendar pointer cal"
          aria-hidden="true"
          (click)="d1.toggle()"
        ></i>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label>Enter Amount</label>
    <input type="number" class="form-control" [formControlName]="'amt'" />
  </div>
  <div class="form-group">
    <label>Enter NAV</label>
    <input type="number" class="form-control" [formControlName]="'nav'" />
  </div>
  <div class="form-group">
    <label>Units</label>
    <input type="number" class="form-control" [formControlName]="'units'" />
  </div>
  <button
    class="btn btn-success d-block mx-auto"
    type="submit"
    [disabled]="!schemeForm.valid"
  >
    Add Scheme
  </button>
</form>
