<pre class="text-danger"> All fields are mandatory</pre>

<form [formGroup]="equityForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>Enter ID</label>
    <input
      type="number"
      class="form-control"
      [formControlName]="'folioNumber'"
    />
  </div>

  <div class="form-group">
    <label>Script/Stock Name</label>
    <select class="form-control" [formControlName]="'companyName'">
      <option [ngValue]="null" disabled>Select</option>
      <option
        *ngFor="let item of listingJson | sortBy: 'Company'"
        [ngValue]="item['Company']"
      >
        {{ item["Company"] | uppercase }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label>ISIN Number</label>
    <input
      type="text"
      class="form-control disabled"
      [formControlName]="'isin'"
    />
  </div>
  <div class="form-group">
    <label>Stock Symbol</label>
    <input
      type="text"
      class="form-control disabled"
      [formControlName]="'symbol'"
    />
  </div>
  <div class="form-group">
    <label>Quantity</label>
    <input type="number" class="form-control" [formControlName]="'quantity'" />
  </div>
  <div class="form-group">
    <label>Buy Price</label>
    <input type="number" class="form-control" [formControlName]="'rate'" />
  </div>
  <div class="form-group">
    <label>Total Amount</label>
    <input
      type="number"
      class="form-control disabled"
      [formControlName]="'amt'"
    />
  </div>
  <div class="form-group">
    <label>Select Purchase Date</label>
    <div class="input-group">
      <input
        class="form-control form-control-sm text-primary"
        ngbDatepicker
        #d1="ngbDatepicker"
        [formControlName]="'purchaseDate'"
      />
      <div class="input-group-append">
        <i
          class="fa fa-calendar pointer cal"
          aria-hidden="true"
          (click)="d1.toggle()"
        ></i>
      </div>
    </div>
  </div>
  <button
    class="btn btn-success d-block mx-auto"
    type="submit"
    [disabled]="!equityForm.valid"
  >
    Add
  </button>
</form>
