<div *ngIf="isLoading" class="row justify-content-center spinner-size overlay">
  <div class="spinner-border text-dark spinner" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div class="container-fluid">
  <app-auth *ngIf="!isAuthenticated" (pwdEmitter)="getPwd($event)"></app-auth>
  <div class="row p-5" *ngIf="isAuthenticated">
    <div class="col-3">
      <button
        class="btn btn-dark m-1 p-2 w-100"
        [ngClass]="{ disabled: selectedTemplate === 'add-client' }"
        (click)="selectedTemplate = 'add-client'"
      >
        Add a Client
      </button>
      <button
        class="btn btn-dark m-1 p-2 w-100"
        [ngClass]="{ disabled: selectedTemplate === 'add-scheme' }"
        (click)="selectedTemplate = 'add-scheme'"
      >
        Add a Schema client
      </button>

      <button
        class="btn btn-dark m-1 p-2 w-100"
        [ngClass]="{ disabled: selectedTemplate === 'add-equity' }"
        (click)="selectedTemplate = 'add-equity'"
      >
        Add Equity
      </button>
    </div>
    <div class="w-50 mx-auto">
      <ng-container *ngIf="selectedTemplate === 'add-client'">
        <app-add-client
          (clientInfoEventEmitter)="getClientToInsert($event)"
        ></app-add-client>
      </ng-container>
      <ng-container *ngIf="selectedTemplate === 'add-scheme'">
        <app-add-scheme
          [mFundAndSchemeMapping]="mFundAndSchemeMapping"
          [navData]="navData"
          (schemeDataEventEmitter)="getSchemeDataToInsert($event)"
        ></app-add-scheme>
      </ng-container>
      <app-add-equity
        *ngIf="selectedTemplate === 'add-equity'"
        (eqDataEventEmitter)="getEqDataToInsert($event)"
      ></app-add-equity>
    </div>
  </div>
</div>
