<p-table [value]="_sipDataToShow">
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Registration Date</th>
      <th>Folio Number</th>
      <th>Scheme Name</th>
      <th>Frequency Type</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Installment Amount</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr>
      <td>{{ item.clientName | titlecase }}</td>
      <td>{{ item.regDate | date: "longDate" }}</td>
      <td>{{ item.folioNo }}</td>

      <td>{{ item.schemeName | titlecase }}</td>
      <td>{{ item.freqType | titlecase }}</td>
      <td>{{ item.startDate | date: "longDate" }}</td>
      <td>{{ item.endDate | date: "longDate" }}</td>
      <td>{{ item.installmentAmt | currency: "INR" }}</td>
    </tr>
  </ng-template>
</p-table>
