<p-table [value]="_sipDataToShow" sortMode="multiple">
  <ng-template pTemplate="header">
    <tr>
      <th [pSortableColumn]="'clientName'">Name</th>
      <th [pSortableColumn]="'regDate'">Registration Date</th>
      <th [pSortableColumn]="'folioNo'">Folio Number</th>
      <th [pSortableColumn]="'schemeName'">Scheme Name</th>
      <th [pSortableColumn]="'freqType'">Frequency Type</th>
      <th [pSortableColumn]="'startDate'">Start Date</th>
      <th [pSortableColumn]="'endDate'">End Date</th>
      <th [pSortableColumn]="'installmentAmt'">Installment Amount</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr>
      <td>{{ item.clientName | titlecase }}</td>
      <td>{{ item.regDate | date: "longDate" }}</td>
      <td>{{ item.folioNo }}</td>

      <td>{{ item.schemeName | titlecase }}</td>
      <td>{{ item.freqType | titlecase }}</td>
      <td>{{ item.startDate | date: "longDate" }}</td>
      <td>{{ item.endDate | date: "longDate" }}</td>
      <td>{{ item.installmentAmt | currency: "INR" }}</td>
    </tr>
  </ng-template>
</p-table>
